services:
  vavapi:
    image: vavapi:current
    container_name: vavapi
    restart: unless-stopped
    network_mode: host
    environment:
      # Database
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT:-3306}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-vavapi}
      MYSQL_USERNAME: ${MYSQL_USERNAME}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

      # JWT
      JWT_KEY_LOCATION: ${JWT_KEY_LOCATION:-/app/keys}

      # Email
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}

      # Frontend URLs
      FRONTEND_BASE_URL: ${FRONTEND_BASE_URL}
      FRONTEND_LOGIN_URL: ${FRONTEND_LOGIN_URL}
      APP_BASE_URL: ${APP_BASE_URL}
      FILE_UPLOAD_BASE_URL: ${FILE_UPLOAD_BASE_URL}

      # Security
      SECURE_COOKIES: ${SECURE_COOKIES:-true}

      # Spring Profile
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-prod}

    volumes:
      - ./uploads:/app/uploads
      # JWT Keys - монтируем директорию с ключами
      - ./environment:/app/keys:ro

    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8081/actuator/health"]
      interval: 30s
      timeout: 3s
      start_period: 40s
      retries: 3

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
